<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>

<body>
    <div class="row">
        <div class="col-md-6">
            <img src="/assets/images/background.jpg" alt="" class="img-fluid">
        </div>

        <div class="col-md-1 my-auto">
            <input class="btn btn-primary btn-lg" type="button" value="Get Started" onclick="@("window.location.href='" + @Url.Action("List", "EmployeeList") + "'");" />
        </div>
    </div>


</body>

</html>