@model HRPayroll_System.Models.CalculatorModel

@{
}

<h1> Regular Calculator </h1>


<form id="Calcu" class="row g-3" method="post" action="Calculator">

    <div class="col-md-4">
        <label for="inputEmail3" class="col-sm-2 col-form-label"> ID </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" asp-for="Id" readonly>
        </div>
    </div>

    <div class="col-md-4">
        <label for="inputEmail3" class="col-sm-2 col-form-label"> FullName: </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="FullName" asp-for="Fullname" readonly>
        </div>
    </div>

    <div class="col-md-4">
        <label for="inputEmail3" class="col-sm-2 col-form-label"> TIN: </label>
        <div class="col-sm-10">
            <input class="form-control" type="text" asp-for="TIN" readonly>
        </div>
    </div>

    <div class="col-md-4">
        <label for="inputEmail3" class="col-sm-4 col-form-label"> Employee Type: </label>
        <input class="form-control" type="text" asp-for="EmployeeType" readonly />
    </div>

    <div class="col-md-4">
        <label for="inputEmail3" class="col-sm-4 col-form-label"> Employee Type: </label>
        <input class="form-control" type="number" asp-for="EmployeeType" readonly />
    </div>

    <div class="col-md-4">
        <label for="inputEmail3" class="col-sm-4 col-form-label"><b> Overall Total: </b></label>
        <input class="form-control" type="text" asp-for="OverallTotal" readonly />
    </div>

    <div class="col-md-4">
        <label for="inputEmail3" class="col-sm-4 col-form-label"> Absences: </label>
        <input id="Absent" class="form-control" type="number" step="0.5" max="22" min="0" asp-for="RAbsences" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+"/>

    </div>

    
    <button id="on" class="btn btn-info" onclick="ans()"> Calculate </button>
   
    <button id="sv" class="btn btn-info">Save</button>
    

</form><br /> <br/>


<input class="btn btn-info" type="button" value="< Back" onclick="@("window.location.href='" + @Url.Action("List", "EmployeeList") + "'");" />



<script>

    var save = document.getElementById('sv').disabled = true;

    function ans() {

        if (confirm("Do you want to change the value?") == true) 
        {
            var absent = document.getElementById('Absent').readOnly = true;
            var calbtn = document.getElementById('on').disabled = true;
            save = document.getElementById('sv').disabled = false;
        }else 
        {   

            location.reload(true);
        
        }
        

    }


</script>